body{
    font-family: 'Anton', sans-serif;
    background-image: url("https://i.ibb.co/4R9ytC9/Logo-Makr-8-F2-Zcz.png");
    background-repeat: repeat;
}


nav{
    background-color: black;
    font-family: 'Anton', sans-serif;
    overflow: auto;

}

#mainBody{
    color: white;
    position: absolute;
	top: 30%;
	right: 14%;
    background-color: black;
    text-align: center;
    height: 55.5%;
    border-radius: 12px;
}

#introText{
    font-size: 1.5rem;
}
ul, li {
    font-size: 1.25rem;
}


/* particle js styling starts */
canvas {
    display: block;
    vertical-align: bottom;
  }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }

.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; 
    width: 80px; color: #13E8E9; font-size: .8em; text-align: left; 
    text-indent: 4px; line-height: 14px; padding-bottom: 2px; 
    font-family: Helvetica, Arial, sans-serif; font-weight: bold; 
} 
.js-count-particles{ font-size: 1.1em; 
} 
#stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; 
}
 #stats{ border-radius: 3px 3px 0 0; overflow: hidden;
 } 
.count-particles{ border-radius: 0 0 3px 3px; 
}
/* particle js styling ends */