body{
    font-family: 'Anton', sans-serif;
    background-color: #f7fdf9;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
    
}
#logo {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
}

nav ul a:hover {
    font-size: 1.75rem;
}

#mainBody{
    color: whitesmoke;
    margin-top: 5%;
    padding-top: 2%;
    background-color: #012c10;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
    text-align: center;
    /* height: 55.5%; */ 
    border-radius: 12px;
    font-size: 1.0rem;
    
}

#introText{
    font-size: 1.0rem;
}
ul, li {
    font-size: 1.25rem;
}


/* particle js styling starts */
canvas {
    display: block;
    vertical-align: bottom;
  }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }

.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; 
    width: 80px; color: #13E8E9; font-size: .8em; text-align: left; 
    text-indent: 4px; line-height: 14px; padding-bottom: 2px; 
    font-family: Helvetica, Arial, sans-serif; font-weight: bold; 
} 
.js-count-particles{ font-size: 1.1em; 
} 
#stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; 
}
 #stats{ border-radius: 3px 3px 0 0; overflow: hidden;
 } 
.count-particles{ border-radius: 0 0 3px 3px; 
}
/* particle js styling ends */